# Apply to ALL repos under ~/core/
[includeIf "gitdir:~/core/"]
    path = ~/.gitconfig-core  # Personal config

# Apply to ALL repos under ~/work/
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work  # Work config
